<div class="cem-dialog">
    <div class="intro">
      {{#if (ne actingCharImg "icons/svg/mystery-man.svg")}}
      <div class="introImg"><img src="{{actingCharImg}}" title="{{actingCharName}}" /></div>
      {{/if}}
      <div class="introtext">{{introText}}</div>
    </div>
    <div class="tooltip">
      <div class="formula" data-tooltip="{{formulaTooltip}}">{{rollFormula}}</div>
    </div>
    <div class="rollmodifier">
      <label>{{localize "CLEENMAIN.dialog.rollmodifier"}}</label>
      <input class="modifierChange" data-field="modifierChange" name="modifier" type="number" value="" />
    </div>

    {{#ifn skillRoll}}
    <div class="rollmodifier">
      <label>{{localize "CLEENMAIN.dialog.damageBonus"}}</label>
      <select class="damageBonus">
        <option value="0" default></option>
        <option value="1">1d6</option>
        <option value="2">2d6</option>
        <option value="3">3d6</option>
      </select>
    </div>
    {{/ifn}}

    {{#ifn damageRoll}}
      {{#if isPlayer}}
        {{#if hasHeroism}}
        <div class="heroismmodifier">
          {{#if hasBiotech}}
          <label>{{#if heroismBonus1d6}}{{localize "CLEENMAIN.dialog.biotechBonus1d6"}}{{else}}{{localize "CLEENMAIN.dialog.biotech"}}{{/if}}</label>
          <input class="heroism" data-field="heroism" name="heroism" type="checkbox" />
          {{else}}
          <label>{{#if heroismBonus1d6}}{{localize "CLEENMAIN.dialog.heroismBonus1d6"}}{{else}}{{localize "CLEENMAIN.dialog.heroism"}}{{/if}}</label>
          <input class="heroism" data-field="heroism" name="heroism" type="checkbox" />
          {{/if}}
        </div>
        {{/if}}
      {{/if}}
    {{/ifn}}
  
    {{#ifn attackRoll}}
        <div class="roll rollmodifier">
          <label>{{localize "CLEENMAIN.dialog.nbReroll"}}</label>
          <input type="number" class="nbReroll" name="nbReroll" min="0" max="10" value="0" />
        </div>
    {{/ifn}}

    {{#if attackRoll}}
    <div class="bonus">
      <h2>{{localize "CLEENMAIN.dialog.bonus"}}</h2>
    </div>
    <table class="bonus-table">
      <tr>
        <td class="tooltip bonus-label" data-tooltip="{{localize "CLEENMAIN.bonus.lethalattack.description"}}">{{localize "CLEENMAIN.bonus.lethalattack.label"}}
        </td>
        <td>
          <input type="number" class="lethalattack" name="lethalattack" min="0" max="10" value="0" />
        </td>
        <td class="tooltip bonus-label" data-tooltip="{{localize
            "CLEENMAIN.bonus.multipleattacks.description"}}">
          {{localize "CLEENMAIN.bonus.multipleattacks.label"}}</td>
        <td>
          <input type="number" class="multipleattacks" name="multipleattacks" min="0" max="1" value="0" />
        </td>
      </tr>
      <tr>
        <td class="tooltip bonus-label" data-tooltip="{{localize "CLEENMAIN.bonus.efficiency.description"}}">
          {{localize "CLEENMAIN.bonus.efficiency.label"}}</td>
        <td>
          <input type="number" class="efficiency" name="efficiency" min="0" max="10" value="0" />
        </td>
        <td class="tooltip bonus-label" data-tooltip="{{localize
            "CLEENMAIN.bonus.caution.description"}}">
          {{localize "CLEENMAIN.bonus.caution.label"}}</td>
        <td>
          <input type="number" class="caution" name="caution" min="0" max="10" value="0" />
        </td>
      </tr>
      {{#if (isSettingEnabled "advancedRules")}}
      <tr>
        <td class="tooltip bonus-label" data-tooltip="{{localize
            "CLEENMAIN.bonus.quick.description"}}">
          {{localize "CLEENMAIN.bonus.quick.label"}}</td>
        <td>
          <input type="number" class="quick" name="quick" min="0" max="1" value="0" />
        </td>
        <td class="tooltip"></td>
        <td></td>
      </tr>
      {{/if}}
    </table>
    <div class="bonus">
      <h2>{{localize "CLEENMAIN.dialog.penalty"}}</h2>
    </div>
    <table class="bonus-table">
      <tr>
        <td class="tooltip bonus-label" data-tooltip="{{localize
            "CLEENMAIN.penalty.minorinjury.description"}}">{{localize "CLEENMAIN.penalty.minorinjury.label"}}
        </td>
        <td>
          <input type="number" class="minorinjury" name="minorinjury" min="0" max="1" value="0" />
        </td>
        <td class="tooltip bonus-label" data-tooltip="{{localize
            "CLEENMAIN.penalty.danger.description"}}">{{localize "CLEENMAIN.penalty.danger.label"}}
        </td>
        <td>
          <input type="number" class="danger" name="danger" min="0" max="10" value="0" />
        </td>
      </tr>
      <tr>
        <td class="tooltip bonus-label" data-tooltip="{{localize
            "CLEENMAIN.penalty.difficulty.description"}}">{{localize "CLEENMAIN.penalty.difficulty.label"}}
        </td>
        <td>
          <input type="number" class="difficulty" name="difficulty" min="0" max="10" value="{{action.difficulty}}" />
        </td>
        <td class="tooltip bonus-label" data-tooltip="{{localize
            "CLEENMAIN.penalty.risk.description"}}">{{localize "CLEENMAIN.penalty.risk.label"}}
        </td>
        <td>
          <input type="number" class="risk" name="risk" min="0" max="1" value="{{action.risk}}" /></td>
      </tr>
  
      {{#if (isSettingEnabled "advancedRules")}}
      <tr>
        <td class="tooltip bonus-label" data-tooltip="{{localize
            "CLEENMAIN.penalty.slowness.description"}}">{{localize "CLEENMAIN.penalty.slowness.label"}}
        </td>
        <td>
          <input type="number" class="slowness" name="slowness" min="0" max="10" value="0" /></td>
        <td class="tooltip"></td>
        <td></td>
      </tr>
      {{/if}}
    </table>
  </div>
  {{/if}}
  </div>