<div class="sheet-content">
    <table>
        <thead>
            <tr>
                <th>{{localize "CLEENMAIN.label.category"}}</th>
                <th>{{localize "CLEENMAIN.label.type"}}</th>
                <th>{{localize "CLEENMAIN.weapon.damage"}}</th>
                <th>{{localize "CLEENMAIN.weapon.range"}}</th>
                <th>{{localize "CLEENMAIN.weapon.targets"}}</th>
                <th>{{localize "CLEENMAIN.weapon.special"}}</th>
                <th>{{localize "CLEENMAIN.weapon.zone"}}</th>
        </thead>
        <td>
            <select name="system.category">
                {{selectOptions config.weapon.category selected=system.category labelAttr="label"}}
            </select>
        </td>
        <td>
            <select name="system.type">
                {{selectOptions config.weapon.type selected=system.type labelAttr="label"}}
            </select>
        </td>
        <td><input name="system.damageBase" type="text" value="{{system.damageBase}}"/></td>
        <td><input name="system.range" type="text" value="{{system.range}}" data-dtype="Number"/></td>
        <td><input name="system.targets" type="text" value="{{system.targets}}" data-dtype="Number"/></td>
        <td><input name="system.special" type="text" value="{{system.special}}"/></td>
        <td><input name="system.zone" type="text" value="{{system.zone}}" /></td>
    </table>
        
    <table>
        <thead>
            <tr>
                {{#if hasNpcOwner}}
                    <th>{{localize "CLEENMAIN.weapon.skillValueNpc"}}</th>
                    {{#if (isSettingEnabled "advancedRules")}}
                    <th>{{localize "CLEENMAIN.weapon.skillValueNpcElite"}}</th>
                    {{/if}}
                {{else}}
                    <th>{{localize "CLEENMAIN.weapon.skillName"}}</th>
                {{/if}}
                <th>{{localize "CLEENMAIN.weapon.sixPlus"}}</th>
                <th>{{localize "CLEENMAIN.weapon.rollBonus"}}</th>
                <th>{{localize "CLEENMAIN.weapon.diceRerollNb"}}</th>
            </tr>
        </thead>
        {{#if hasNpcOwner}}
            <td><input name="system.skillValue" type="number" value="{{system.skillValue}}"/></td>
            {{#if (isSettingEnabled "advancedRules")}}
            <td><input name="system.skillValueNpcElite" type="number" value="{{system.skillValueNpcElite}}"/></td>
            {{/if}}
            {{else}}
                <td>{{system.skillName}}</td>
        {{/if}}
        <td><input name="system.sixPlus" type="checkbox" {{checked system.sixPlus}}/></td>
        <td><input name="system.skillBonus" type="text" value="{{system.skillBonus}}"/></td>
        <td><input name="system.diceRerollNb" type="text" value="{{system.diceRerollNb}}"/></td>
    </table>
</div>

